################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/.vs
/Source/.idea
.DS_Store
Fonts/OFL.txt
Fonts/Open_Sans.zip
Fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf
Fonts/OpenSans-VariableFont_wdth,wght.ttf
Fonts/README.txt
Fonts/static/OpenSans/OpenSans-Bold.ttf
Fonts/static/OpenSans/OpenSans-BoldItalic.ttf
Fonts/static/OpenSans/OpenSans-ExtraBold.ttf
Fonts/static/OpenSans/OpenSans-ExtraBoldItalic.ttf
Fonts/static/OpenSans/OpenSans-Italic.ttf
Fonts/static/OpenSans/OpenSans-Light.ttf
Fonts/static/OpenSans/OpenSans-LightItalic.ttf
Fonts/static/OpenSans/OpenSans-Medium.ttf
Fonts/static/OpenSans/OpenSans-MediumItalic.ttf
Fonts/static/OpenSans/OpenSans-Regular.ttf
Fonts/static/OpenSans/OpenSans-SemiBold.ttf
Fonts/static/OpenSans/OpenSans-SemiBoldItalic.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-Bold.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-BoldItalic.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-ExtraBold.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-ExtraBoldItalic.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-Italic.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-Light.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-LightItalic.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-Medium.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-MediumItalic.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-SemiBold.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-SemiBoldItalic.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Bold.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-BoldItalic.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-ExtraBold.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-ExtraBoldItalic.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Italic.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Light.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-LightItalic.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Medium.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-MediumItalic.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Regular.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-SemiBold.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-SemiBoldItalic.ttf
TestApp1/.gitignore
TestApp1/build.gradle
TestApp1/gradle.properties
TestApp1/gradlew
TestApp1/gradlew.bat
TestApp1/settings.gradle
TestApp1/.idea/.gitignore
TestApp1/.idea/compiler.xml
TestApp1/.idea/gradle.xml
TestApp1/.idea/misc.xml
TestApp1/.idea/vcs.xml
TestApp1/app/.gitignore
TestApp1/app/build.gradle
TestApp1/app/proguard-rules.pro
TestApp1/app/src/androidTest/java/com/example/testapp1/ExampleInstrumentedTest.kt
TestApp1/app/src/main/AndroidManifest.xml
TestApp1/app/src/main/java/com/example/testapp1/MainActivity.kt
TestApp1/app/src/main/java/com/example/testapp1/ui/theme/Color.kt
TestApp1/app/src/main/java/com/example/testapp1/ui/theme/Theme.kt
TestApp1/app/src/main/java/com/example/testapp1/ui/theme/Type.kt
TestApp1/app/src/main/res/drawable/ic_launcher_background.xml
TestApp1/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
TestApp1/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
TestApp1/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
TestApp1/app/src/main/res/mipmap-anydpi-v33/ic_launcher.xml
TestApp1/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
TestApp1/app/src/main/res/mipmap-hdpi/ic_launcher.webp
TestApp1/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
TestApp1/app/src/main/res/mipmap-mdpi/ic_launcher.webp
TestApp1/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
TestApp1/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
TestApp1/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
TestApp1/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
TestApp1/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
TestApp1/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
TestApp1/app/src/main/res/values/colors.xml
TestApp1/app/src/main/res/values/strings.xml
TestApp1/app/src/main/res/values/themes.xml
TestApp1/app/src/main/res/xml/backup_rules.xml
TestApp1/app/src/main/res/xml/data_extraction_rules.xml
TestApp1/app/src/test/java/com/example/testapp1/ExampleUnitTest.kt
TestApp1/gradle/wrapper/gradle-wrapper.jar
TestApp1/gradle/wrapper/gradle-wrapper.properties
