################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/.vs
/Source/.idea
.DS_Store
Fonts/OFL.txt
Fonts/Open_Sans.zip
Fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf
Fonts/OpenSans-VariableFont_wdth,wght.ttf
Fonts/README.txt
Fonts/static/OpenSans/OpenSans-Bold.ttf
Fonts/static/OpenSans/OpenSans-BoldItalic.ttf
Fonts/static/OpenSans/OpenSans-ExtraBold.ttf
Fonts/static/OpenSans/OpenSans-ExtraBoldItalic.ttf
Fonts/static/OpenSans/OpenSans-Italic.ttf
Fonts/static/OpenSans/OpenSans-Light.ttf
Fonts/static/OpenSans/OpenSans-LightItalic.ttf
Fonts/static/OpenSans/OpenSans-Medium.ttf
Fonts/static/OpenSans/OpenSans-MediumItalic.ttf
Fonts/static/OpenSans/OpenSans-Regular.ttf
Fonts/static/OpenSans/OpenSans-SemiBold.ttf
Fonts/static/OpenSans/OpenSans-SemiBoldItalic.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-Bold.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-BoldItalic.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-ExtraBold.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-ExtraBoldItalic.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-Italic.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-Light.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-LightItalic.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-Medium.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-MediumItalic.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-SemiBold.ttf
Fonts/static/OpenSans_Condensed/OpenSans_Condensed-SemiBoldItalic.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Bold.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-BoldItalic.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-ExtraBold.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-ExtraBoldItalic.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Italic.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Light.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-LightItalic.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Medium.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-MediumItalic.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Regular.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-SemiBold.ttf
Fonts/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-SemiBoldItalic.ttf
